{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap"
	rel="stylesheet" />
{% endblock %} {% block title %} About Us {% endblock %} {% block body %}
<div class="section wf-section">
	<div class="content">
		<div class="block-page">
			<h1 data-w-id="f89fae59-8839-6fcc-8184-a47d523f8404" style="opacity: 1" class="heading max-w">
				Exclusive Insights to Waste Data<br />That Drive More Action to
				Sustainability
			</h1>
			<!--
<p data-w-id="a3a02e05-8549-1416-1237-ee7e52903359" style="opacity:0" class="paragraph">We give small and medium-sized businesses like you direct access to your customers’ psychographic details that can help you determine how to best serve them<br></p>
-->
		</div>
	</div>
	<div class="content">
		<div class="w-layout-grid-grid-stats">
			<div id="w-node-_5e7bf8be-4e04-495e-94eb-cab40d9262db-16469f88"
				data-w-id="5e7bf8be-4e04-495e-94eb-cab40d9262db" style="opacity: 1" class="stats">
				<h2 class="number-stats"><span class="counterup">60</span>+</h2>
				<h6 class="heading-stats"><strong>Cities</strong></h6>
			</div>
			<div id="w-node-_42f08a38-7bf6-adc1-3b5d-c274b926ebcd-16469f88"
				data-w-id="42f08a38-7bf6-adc1-3b5d-c274b926ebcd" style="opacity: 1" class="stats">
				<h2 class="number-stats green"><span class="counterup">50</span>k+</h2>
				<h6 class="heading-stats green"><strong>Data collated</strong></h6>
			</div>
			<div id="w-node-a392faa7-3437-80db-4dee-14ed7ffdeea0-16469f88"
				data-w-id="a392faa7-3437-80db-4dee-14ed7ffdeea0" style="opacity: 1" class="stats">
				<h2 class="number-stats blue"><span class="counterup">1.4</span>m+</h2>
				<h6 class="heading-stats"><strong>Outlets Covered</strong></h6>
			</div>
		</div>
		<div data-w-id="6733cb5a-8851-5d4e-2f66-b99c3d677e69" style="opacity: 1" class="page-content">
			<h2>About biocycle</h2>
			<p>
				Our platform was created by a team of passionate waste management
				experts and sustainability advocates committed to making composting
				accessible and enjoyable for everyone. Whether you're a seasoned
				composter or just getting started, our tools and resources will help you
				compost confidently and achieve your composting goals. At Biocycle, our
				services include: A composting calculator that helps you calculate the
				ideal proportions of organic materials for your compost pile based on
				your specific needs and goals. Educational materials, including
				articles, videos, and workshops, help you learn the basics of composting
				and stay up-to-date on the latest trends and techniques. Analytics and
				reporting tools that track your composting progress and help you measure
				your environmental impact. Customization options allow you to tailor
				your composting experience to your unique needs, preferences, and
				location. Sell your compost; we connect you to people who need compost
				to make revenue from your household waste
			</p>
		</div>
	</div>

	{% endblock %}
</div>